@import "elements.less";

//Helpers
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

//Global styles
* {
    .box-sizing(border-box);
}

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    line-height: normal;
    background: #eee;
    color: #fff;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding: 8px 0;
}

ul, ol {
    padding: 0;
}

a,
a:hover,
a:visited {
    color: inherit;
    text-decoration: none;
}

.navbar-title {
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 2px;
}

.page-title {
    font-size: 96px;
    font-weight: 100;
    letter-spacing: 4px;
    color: #000;
}

.section-title {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: normal;
    color: #333;
    text-shadow: 0px 1px 8px #ccc;
}

.btn {
    display: inline-block;
    background: #AC193D;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: 32px 48px;
    outline: 0;
    letter-spacing: 0.025em;
    .transition;
    .box-shadow(1px 1px 4px rgba(0, 0, 0, 0.2));
    font-size: 32px;
    
    &:hover,
    &:active {
        background: lighten(#BF1E4B, 10%);
    }   
}

.wrapper {
    padding: 48px 0;
    
    &.dark {
        background: #222222;
    }
    
    &.dark-blue {
        background: #373E45;
    }
}

.navbar {
    background: #111;
}

.picture {
    display: block;
    list-style-type: none;
    float: left;
    height: 48px;
}

/* 
Ideally these rules should be in separate file included via import,
Since the rules are less including here makes sense
*/

/* #### Mobile Phones Portrait or Landscape #### */
@media only screen and (max-width: 767px) {
    
    .container {
        width: 100%;
        padding: 8px;
    }
    
    .navbar-title {
        font-size: 24px;
    }
    
    .page-title {
        font-size: 48px;
    }
    
    .section-title {
        font-size: 24px;
    }
    
    .btn {
        font-size: 16px;
        padding: 16px 24px;
    }
    
    .wrapper {
        padding: 24px 0;
    }
}

/* #### Tablets Portrait or Landscape #### */
@media only screen and (min-width: 768px) and (max-width: 1024px){
  /* some CSS here */
    .container {
        width: 100%;
        padding: 8px 16px;
    }
    
    .navbar-title {
        font-size: 24px;
    }
    
    .page-title {
        font-size: 72px;
    }
    
    .section-title {
        font-size: 36px;
    }
    
    .btn {
        font-size: 24px;
        padding: 24px 36px;
    }
    
    .wrapper {
        padding: 36px 0;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    .container {
        width: 1200px;
    }
}